@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(74, 74, 74, 0.7);
  border-radius: 3px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(74, 74, 74, 0.7) transparent;
}

/* Typing animation styles */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  animation: ellipsis 1s infinite;
}

@keyframes ellipsis {
  0% {
    width: 0px;
  }
  33% {
    width: 10px;
  }
  66% {
    width: 20px;
  }
  100% {
    width: 30px;
  }
}